.aboutUsFooter{
  background: url("../../../public/AboutUsFooter.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  /* color: transparent; */
  object-fit: cover;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .aboutUsFooter {
    height: 419px;
  }
}




@media (max-width: 768px) {
  /* Styles for screens up to 768px wide */
  .aboutUsFooter {
   height: 165px;
     /* Adjust the height as needed for smaller screens */
  }
}

@media (max-width: 480px) {
  /* Styles for screens up to 480px wide */
  .aboutUsFooter {
    height: 165px;
    
    /* Additional styles specific to smaller screens */
  }
}