.gurTFd{
    background-color: rgb(20, 92, 197);
    padding-top: 10vw;
    padding-bottom: 10vw;
    clip-path: polygon(0% 25%, 100% 0%, 100% 75%, 0% 100%);
}
------------------------------
.chSxnX{
    width: auto;
    padding: 0.5rem 12rem;
    -webkit-box-align: center;
    align-items: center;
}
.kLrQtv {
    clip-path: polygon(0px 30%, 100% 0%, 100% 70%, 0px 100%);
    background-color: rgb(65, 127, 218);
    display: flex;
    border-radius: 4px;
    -webkit-box-align: center;
    align-items: center;
    padding-top: 7vw;
    padding-bottom: 3vw;
}

.cPDRAh {
    /* display: block; */
}
.cmROcX {
    width: auto;
    height: 27vw;
    mix-blend-mode: luminosity;
}
.hufdxl {
    padding: 4vw;
    min-width: 0px;
    margin-left: -10vw;
}
.gHPgIl {
    color: white;
    letter-spacing: 2px;
    font-size: 1.4rem;
    font-weight: 800;
    /* margin-bottom: 2vw; */
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.iRtMzf {
    font-size: 32px;
    line-height: 40px;
    font-weight: 800;
    color: white; 
 
}

/* -------------------------------------- */

#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 780px;
  height: 110px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.swiper-pagination-progressbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%; /* Set the desired width for the progress bar */
  height: 2px;
  background-color: #fff; /* Set the background color to white */
}
.swiper-pagination-progressbar-fill{
  width: 50%;
}

@media (max-width: 768px) {
  /* Styles for screens up to 768px wide */
  .mb-w {
   width: 332px;
     /* Adjust the height as needed for smaller screens */
  }
  .swiper-pagination-progressbar{
    width: 50%;
  }
}

@media (max-width: 480px) {
  /* Styles for screens up to 480px wide */
  .mb-w {
    /* height: 96px; */
    width: 332px;
    /* Additional styles specific to smaller screens */
  }
  .swiper-pagination-progressbar{
    width: 50%;
  }
}