.aboutBg{
  background: url("../../../public/OurMission.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  
  color: transparent;
  object-fit: cover;
}
